/*Write your global styles here, in PostCSS syntax*/
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
/*html {*/
/*    font-family: sans-serif;*/
/*}*/

/*input {*/
/*    margin: 2pt;*/
/*}*/
/*input:focus {*/
/*    border-width: 3pt;*/
/*}*/
